<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,60}</string>
                <key>spriteSourceSize</key>
                <string>{640,60}</string>
                <key>textureRect</key>
                <string>{{0,384},{640,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teamLogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,343}</string>
                <key>spriteSourceSize</key>
                <string>{513,343}</string>
                <key>textureRect</key>
                <string>{{384,0},{513,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{682,384}</string>
                <key>spriteSourceSize</key>
                <string>{682,384}</string>
                <key>textureRect</key>
                <string>{{0,444},{682,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,384}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>title.png</string>
            <key>size</key>
            <string>{897,828}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f871976ebe8ababf3c54627f6521c73c:da5a0dab45136f924b9196c3aca0b19d:eac3319ae54fe6d043150c971d4e6759$</string>
            <key>textureFileName</key>
            <string>title.png</string>
        </dict>
    </dict>
</plist>
