<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,32}</string>
                <key>spriteSourceSize</key>
                <string>{96,32}</string>
                <key>textureRect</key>
                <string>{{8,0},{96,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{104,0},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar_zero.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,64}</string>
                <key>spriteSourceSize</key>
                <string>{8,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{8,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,48}</string>
                <key>spriteSourceSize</key>
                <string>{102,48}</string>
                <key>textureRect</key>
                <string>{{204,0},{102,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,64}</string>
                <key>spriteSourceSize</key>
                <string>{480,64}</string>
                <key>textureRect</key>
                <string>{{0,64},{480,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>se.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,48}</string>
                <key>spriteSourceSize</key>
                <string>{102,48}</string>
                <key>textureRect</key>
                <string>{{306,0},{102,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bar.png</string>
            <key>size</key>
            <string>{480,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed8a3bca30ac2388db3f25dd3265ff43:351914f5b6e63b58f123b6fbd0c7d811:e8761dc73faa9577e8d19875ec4a2dc1$</string>
            <key>textureFileName</key>
            <string>bar.png</string>
        </dict>
    </dict>
</plist>
